.main-menu {
    margin-top: 10px;  /* Increase top margin */
    margin-bottom: 10px;  /* Increase bottom margin */
}

.logo {
    max-height: 14rem;  /* Increase max height */
    max-width: 14rem;   /* Increase max width */
}

.opacity-60 {
    opacity:0.5
  }

  @media (min-width: 640px) {
    .thumbnail {
      min-width: 100%;
      height: 275px;
    }
  
    .article {
      flex-wrap: wrap;
    }
  }
  
  @media (min-width: 2500px) {
    .thumbnail {
      min-width: 300px;
      min-height: 250px;
      height: auto;
    }
  
    .article {
      flex-wrap: nowrap;
    }
  }
